<link rel="stylesheet" href="../assets/css/boostrap.min.css">
<div class=" mx-auto" style="max-width: 50%;">
    <h2>Diabetes diet: Create your healthy-eating plan</h2>
    <div><br></div>

    <strong>Your diabetes diet is simply a healthy-eating plan that will help you control your blood sugar. Here's help getting started, from meal planning to counting carbohydrates.</strong>
    <div><br></div>
    
    <p>A diabetes diet simply means eating the healthiest foods in moderate amounts and sticking to regular mealtimes.</p>
    <p>A diabetes diet is a healthy-eating plan that's naturally rich in nutrients and low in fat and calories. Key elements are fruits, vegetables and whole grains. In fact, a diabetes diet is the best eating plan for most everyone.</p>
    <hr>

    <h4>Why do you need to develop a healthy-eating plan?</h4>
    <p>If you have diabetes or prediabetes, your doctor will likely recommend that you see a dietitian to help you develop a healthy-eating plan. The plan helps you control your blood sugar (glucose), manage your weight and control heart disease risk factors, such as high blood pressure and high blood fats.</p>
    <p>When you eat extra calories and fat, your body creates an undesirable rise in blood glucose. If blood glucose isn't kept in check, it can lead to serious problems, such as a high blood glucose level (hyperglycemia) that, if persistent, may lead to long-term complications, such as nerve, kidney and heart damage.</p>
    <p>You can help keep your blood glucose level in a safe range by making healthy food choices and tracking your eating habits.</p>
    <p>For most people with type 2 diabetes, weight loss also can make it easier to control blood glucose and offers a host of other health benefits. If you need to lose weight, a diabetes diet provides a well-organized, nutritious way to reach your goal safely.</p>
    <hr>

    <h4>What does a diabetes diet involve?</h4>
    <p>A diabetes diet is based on eating three meals a day at regular times. This helps you better use the insulin that your body produces or gets through a medication.</p>
    <p>A registered dietitian can help you put together a diet based on your health goals, tastes and lifestyle. He or she can also talk with you about how to improve your eating habits, such as choosing portion sizes that suit the needs for your size and activity level.</p>
    <hr>

    <h4>Recommended foods</h4>
    <p>Make your calories count with these nutritious foods. Choose healthy carbohydrates, fiber-rich foods, fish and "good" fats.</p>

    <strong><h6>Healthy carbohydrates</h6></strong>
    <p>During digestion, sugars (simple carbohydrates) and starches (complex carbohydrates) break down into blood glucose. Focus on healthy carbohydrates, such as:</p>
    <ul>
        <li>Fruits</li>
        <li>Vegetables</li>
        <li>Whole grains</li>
        <li>Legumes, such as beans and peas</li>
        <li>Low-fat dairy products, such as milk and cheese</li>
    </ul>
    <p>Avoid less healthy carbohydrates, such as foods or drinks with added fats, sugars and sodium.    </p>
    <hr>

    <strong><h6>Heart-healthy fish</h6></strong>
    <p>Eat heart-healthy fish at least twice a week. Fish such as salmon, mackerel, tuna and sardines are rich in omega-3 fatty acids, which may prevent heart disease.</p>
    <p>Avoid fried fish and fish with high levels of mercury, such as king mackerel.</p>
    <hr>

    <strong><h6>'Good' fats</h6></strong>
    <p>Foods containing monounsaturated and polyunsaturated fats can help lower your cholesterol levels. These include:    </p>
    <ul>
        <li>Avocados</li>
        <li>Nuts</li>
        <li>Canola, olive and peanut oils</li>
    </ul>
    <p>But don't overdo it, as all fats are high in calories.</p>
    <hr>

    <h4>Foods to avoid</h4>
    <p>Diabetes increases your risk of heart disease and stroke by accelerating the development of clogged and hardened arteries. Foods containing the following can work against your goal of a heart-healthy diet.</p>
    <ul>
        <li>
            <p><strong>Saturated fats.</strong> Avoid high-fat dairy products and animal proteins such as butter, beef, hot dogs, sausage and bacon. Also limit coconut and palm kernel oils.</p>
        </li>
        <li>
            <p><strong>Trans fats.</strong> Avoid trans fats found in processed snacks, baked goods, shortening and stick margarines.</p>
        </li>
        <li>
            <p><strong>Cholesterol.</strong> Cholesterol sources include high-fat dairy products and high-fat animal proteins, egg yolks, liver, and other organ meats. Aim for no more than 200 milligrams (mg) of cholesterol a day.</p>
        </li>
        <li>
            <p><strong>Sodium.</strong> Aim for less than 2,300 mg of sodium a day. Your doctor may suggest you aim for even less if you have high blood pressure.</p>
        </li>
    </ul>
    <hr>

    <h4>Putting it all together: Creating a plan</h4>
    <p>You may use a few different approaches to create a diabetes diet to help you keep your blood glucose level within a normal range. With a dietitian's help, you may find that one or a combination of the following methods works for you:</p>
    <div><br></div>

    <strong><h6>The plate method</h6></strong>
    <p>The American Diabetes Association offers a simple method of meal planning. In essence, it focuses on eating more vegetables. Follow these steps when preparing your plate:</p>
    <ul>
        <li>Fill half of your plate with nonstarchy vegetables, such as spinach, carrots and tomatoes.</li>
        <li>Fill a quarter of your plate with a protein, such as tuna, lean pork or chicken.</li>
        <li>Fill the last quarter with a whole-grain item, such as brown rice, or a starchy vegetable, such as green peas.</li>
        <li>Include "good" fats such as nuts or avocados in small amounts.</li>
        <li>Add a serving of fruit or dairy and a drink of water or unsweetened tea or coffee.</li>
    </ul>
    <div><br></div>

    <strong><h6>Counting carbohydrates</h6></strong>
    <p>Because carbohydrates break down into glucose, they have the greatest impact on your blood glucose level. To help control your blood sugar, you may need to learn to calculate the amount of carbohydrates you are eating so that you can adjust the dose of insulin accordingly. It's important to keep track of the amount of carbohydrates in each meal or snack.</p>
    <p>A dietitian can teach you how to measure food portions and become an educated reader of food labels. He or she can also teach you how to pay special attention to serving size and carbohydrate content.</p>
    <p>If you're taking insulin, a dietitian can teach you how to count the amount of carbohydrates in each meal or snack and adjust your insulin dose accordingly.</p>
    <div><br></div>

    <strong><h6>Choose your foods</h6></strong>
    <p>A dietitian may recommend you choose specific foods to help you plan meals and snacks. You can choose a number of foods from lists including categories such as carbohydrates, proteins and fats.</p>
    <p>One serving in a category is called a "choice." A food choice has about the same amount of carbohydrates, protein, fat and calories — and the same effect on your blood glucose — as a serving of every other food in that same category. For example, the starch, fruits and milk list includes choices that are 12 to 15 grams of carbohydrates.</p>
    <div><br></div>

    <strong><h6>Glycemic index</h6></strong>
    <p>Some people who have diabetes use the glycemic index to select foods, especially carbohydrates. This method ranks carbohydrate-containing foods based on their effect on blood glucose levels. Talk with your dietitian about whether this method might work for you.</p>
    <hr>

    <h4>What are the results of a diabetes diet?</h4>
    <p>Embracing your healthy-eating plan is the best way to keep your blood glucose level under control and prevent diabetes complications. And if you need to lose weight, you can tailor it to your specific goals.</p>
    <p>Aside from managing your diabetes, a diabetes diet offers other benefits, too. Because a diabetes diet recommends generous amounts of fruits, vegetables and fiber, following it is likely to reduce your risk of cardiovascular diseases and certain types of cancer. And consuming low-fat dairy products can reduce your risk of low bone mass in the future.</p>
    <hr>

    <h4>Are there any risks?</h4>
    <p>If you have diabetes, it's important that you partner with your doctor and dietitian to create an eating plan that works for you. Use healthy foods, portion control and scheduling to manage your blood glucose level. If you stray from your prescribed diet, you run the risk of fluctuating blood sugar levels and more-serious complications.</p>

</div>