<link rel="stylesheet" href="assets/css/user.css">

<header class="header" data-header>
    <div class="container">

        <a href="#" class="logo">
            <i class="fa-solid fa-heart"></i>

            <span class="span">HealthPlus</span>
        </a>

        <nav class="navbar" data-navbar>



            <ul class="navbar-list">

                <li>
                    <a href="#home" class="navbar-link" data-nav-link>Home</a>
                </li>

                <li>
                    <a href="#about" class="navbar-link" data-nav-link>About Us</a>
                </li>



                <li>
                    <a href="#footer" class="navbar-link" data-nav-link>Contact Us</a>
                </li>

                <li>
                    <a href="#!/feedback" class="navbar-link" data-nav-link>FeedBack</a>
                </li>

            </ul>

        </nav>

        <a href="http://localhost/techwiz/#!/form" class="btn btn-secondary">Welcome&nbsp; <i
                class="fa-solid fa-user"></i> {{name}}</a>



    </div>
</header>



<section class="section hero bg-dark has-after has-bg-image" id="home" data-section
    style="background-image: url('./assets/images/hero-bg.png'); height: 3500px;">


    <form class="form1">


        <a href="#!/workout"><button class="form-button"><i
                    class="fa-solid fa-person-running"></i> Workout Plans <i
                    class="fa-solid fa-arrow-right"></i></button></a>
        <a href="#!/diet"><button class="form-button" style="background-color: hsl(12, 98%, 52%); color: white;"><i class="fa-solid fa-carrot"></i> Diet Plans <i
                class="fa-solid fa-arrow-right"></i></button></a>
        <a href="#!/doctor"><button class="form-button"><i class="fa-solid fa-calendar-days"></i> Appointments <i
                class="fa-solid fa-arrow-right"></i></button></a>
        <a href="#!/medicine"><button class="form-button"><i class="fa-solid fa-capsules"></i> Your Dosage <i
                class="fa-solid fa-arrow-right"></i></button></a>
    </form>
    <div class="user-content">
        <form class="form2" style="height: 670px;">
            <img src="assets/images/livestrong.png" alt="image" width="100%" style="margin: 0 auto;">
            <a href="https://www.goodhousekeeping.com/health/fitness/g33326349/best-youtube-workouts/">
                <h1>20+ Best YouTube Workout Channels for Every Type of Fitness </h1>
            </a>
            <p> These free options include yoga, HIIT, and dance classes from our favorite instructors.</p>

        </form>
    </div>
    <div class="user-content">
        <form class="form2" style="height: 770px;">
            <img src="assets/images/CrossFit.png" alt="image" width="100%" style="margin: 0 auto;">
            <a href="https://www.crossfit.com/">
                <h1> CrossFit </h1>
            </a>
            <p> This, of course, is the homepage for the fitness revolution known as CrossFit. As you would expect, it
                offers information on how to find a CrossFit box (as they are known), but it also provides info on
                CrossFit exercise routines you can do at home. Get your WOD on.</p>

        </form>
    </div>
    <div class="user-content">
        <form class="form2" style="height: 870px;">
            <img src="assets/images/myfitness.png" alt="image" width="100%" style="margin: 0 auto;">
            <a href="https://www.myfitnesspal.com/">
                <h1> My Fitness Pal </h1>
            </a>
            <p> My Fitness Pal is a freemium website that allows users to get fitness and food advice. It also lets
                users track calories and log activities, making it an ideal one-stop shop for fitness and dieting. There
                are also integrated apps that you can use as part of your workout.</p>

        </form>
    </div>
    <div class="user-content">
        <form class="form2" style="height: 820px;">
            <img src="assets/images/menhealth.png" alt="image" width="100%" style="margin: 0 auto;">
            <a href="https://www.menshealth.com/">
                <h1> Men’s Health </h1>
            </a>
            <p> As you can imagine, Men’s Health is a fitness website geared toward men. However, within this focus, the
                website touches on various topics, including food, sleep, sex and more. Its more standard features
                involve giving information on workouts and advice on how to get into better shape.</p>

        </form>
    </div>




</section>









<footer class="footer" style="margin-top: 10px;">

    <div class="section footer-top bg-dark has-bg-image" style="background-image: url('./assets/images/footer-bg.png')"
        id="footer">
        <div class="container">

            <div class="footer-brand">

                <a href="#" class="logo">
                    <i class="fa-solid fa-heart"></i>

                    <span class="span">HealthPlus</span>
                </a>

                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.7295561235906!2d105.84769451485397!3d21.00347528601206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ad58455db2ab%3A0x9b3550bc22fd8bb!2zNTQgUC4gTMOqIFRoYW5oIE5naOG7iywgQsOhY2ggS2hvYSwgSGFpIELDoCBUcsawbmcsIEjDoCBO4buZaSwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1659676268072!5m2!1sen!2s"
                    width="350" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>



            </div>


            <ul class="footer-list">

                <li>
                    <p class="footer-list-title has-before">Contact Us</p>
                </li>


                <li class="footer-list-item">
                    <div class="icon">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <div>
                        <a href="" class="footer-link">&emsp;54 Lê Thanh Nghị, Hai Bà Trưng
                            District, Hà Nội</a>
                    </div>
                </li>

                <li class="footer-list-item">
                    <div class="icon">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div>
                        <a href="" class="footer-link">minh.nv.2045@aptechlearning.edu.vn</a>
                    </div>
                </li>
                <li class="footer-list-item">
                    <div class="icon">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <div>
                        <a href="" class="footer-link">0523.917.089</a>
                    </div>
                </li>
                <li>
                    <ul class="social-list">

                        <li>
                            <a href="#" class="social-link">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="social-link">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="social-link">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </a>
                        </li>

                    </ul>
                </li>
            </ul>

            <ul class="footer-list">

                <li>
                    <p class="footer-list-title has-before">General</p>
                </li>
                <li><a href=""><i class="fa-solid fa-clock"></i>&emsp;{{theTime}}</a></li>
                <li><a href=""><i class="fa-solid fa-eye"></i>&emsp;Visitor Counts: &nbsp;{{vcounter}}</a></li>
                <li><a href=""><i class="fa-solid fa-location-pin"></i>&emsp;Your Location: <span id="city"></span>
                        <span id="country"></span> </a></li>
                <li><a href=""><i class="fa-solid fa-street-view"></i>&emsp;Your IP: <span id="ip"></span> </a></li>
                <li><a href="">Copyright © 2022 C2112L TechC</a></li>

            </ul>
            </li>

            </ul>

        </div>
    </div>


</footer>