
<link rel="stylesheet" href="assets/css/feedback.css" />

<header class="header" data-header>
  <div class="container">
    <a href="#" class="logo">
      <i class="fa-solid fa-heart"></i>

      <span class="span">HealthPlus</span>
    </a>

    <nav class="navbar" data-navbar>
      <button class="nav-close-btn" data-nav-toggler>
        <ion-icon name="close-sharp"></ion-icon>
      </button>

      <ul class="navbar-list">
        <li>
          <a href="#home" class="navbar-link active" data-nav-link>Home</a>
        </li>

        <li>
          <a href="#about" class="navbar-link" data-nav-link>About Us</a>
        </li>

        <li>
          <a href="#footer" class="navbar-link" data-nav-link>Contact Us</a>
        </li>
      </ul>
    </nav>

    <a href="http://localhost/techwiz/#!/form" class="btn btn-secondary"
      >Welcome&nbsp; <i class="fa-solid fa-user"></i> {{name}}</a
    >

    <button class="nav-open-btn" data-nav-toggler>
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </button>
  </div>
</header>

<section
  class="section hero bg-dark has-after has-bg-image"
  id="home"
  data-section
  style="background-image: url('./assets/images/hero-bg.png'); height: 800px"
>
  <div class="container">

    <!-- FEEDBACK FROM -->
    <div class="feedback-content">
      <div class="feedback-container">
        <div class="feedback-head">
          <div class="feedback-heading"><h1>Share your experience</h1></div>
          <div class="feedback-close">
            <div class="s s1"></div>
            <div class="s s2"></div>
          </div>
        </div>
        <div class="feedback-mid">
          <div class="feedback-media">
            <img
              src="https://cdn-icons-png.flaticon.com/128/3260/3260838.png"
              alt="angry"
            />
          </div>
          <div class="feedback-media">
            <img
              src="https://cdn-icons-png.flaticon.com/128/42/42901.png"
              alt="moderate"
            />
          </div>
          <div class="feedback-media">
            <img
              src="https://cdn-icons-png.flaticon.com/128/3260/3260877.png"
              alt="neutral"
            />
          </div>
          <div class="feedback-media">
            <img
              src="https://cdn-icons-png.flaticon.com/128/569/569501.png"
              alt="smile"
              class="active"
            />
          </div>
          <div class="feedback-media">
            <img
              src="https://cdn-icons-png.flaticon.com/128/1356/1356639.png"
              alt="happy"
            />
          </div>
        </div>
        <div class="feedback-textarea">
          <p>Share your experience</p>
          <textarea name="exp" id="exp" placeholder="Let we know..."></textarea>
        </div>
        <div class="feedback-end">
          <div class="feedback-submission">
            <button class="sub btn">Send</button>
          </div>
          <div class="feedback-skip">
            <button class="skp btn">Skip</button>
          </div>
        </div>
      </div>
    </div>

    <div class="hero-banner">

        <img src="./assets/images/doctor.png" width="660" height="753" alt="hero banner" class="w-100">

        <img src="./assets/images/hero-circle-one.png" width="666" height="666" alt="" class="circle circle-1">
        <img src="./assets/images/hero-circle-two.png" width="666" height="666" alt="" class="circle circle-2">

        <img src="./assets/images/heart-rate.svg" width="255" height="270" alt="heart rate"
            class="abs-img abs-img-1">
        <img src="./assets/images/calories.svg" width="348" height="224" alt="calories" class="abs-img abs-img-2">

        
    </div>
  </div>
</section>

<script>
  document.querySelectorAll(".feedback-media img").forEach((entry) =>
    entry.addEventListener("click", (e) => {
      if (!entry.classList.contains("active")) {
        document.querySelector(".feedback-media img.active").classList.remove("active");
        entry.classList.add("active");
      }
      e.preventDefault();
    })
  );
</script>
