<link rel="stylesheet" href="../assets/css/boostrap.min.css">
<div class=" mx-auto" style="max-width: 50%;">

    <h2>Diet and exercise for overweight and obese people</h2>
    <div><br></div>
    <strong>Worldwide prevalence of obesity
        The worldwide prevalence of obesity nearly tripled between 1975 and 2020. In fact, in 2020, more than 2 billion
        adults (39% of the adult global population) were overweight. Of these, over 600 million were obese.</strong>
    <div><br></div>
    <hr>
    <div><br></div>

    <h4>Principles of menu planning for overweight and obese people</h4>
    <p>First of all, obese people need to pay attention and pay attention to their daily diet because the main cause of
        obesity is eating. When the amount of calories we provide into the body is much larger than the amount of
        calories we consume, this accumulates and stores energy and is converted into fat, gradually causing overweight
        and obesity.</p>
    <img src="../assets/images/helthymenu.jpg"
        alt="To make an effective weight loss menu for obese people, you first need to understand the principles of safe weight loss">
    <p>To make an effective weight loss menu for obese people, first of all, you need to understand the principle of
        safe weight loss, which is "reduce calorie intake and increase energy consumption". Based on that principle, we
        have some notes in eating as follows:</p>
    <p><strong>Limit fatty foods: </strong>Limiting fatty foods is very important for the weight loss diet of obese
        people. Fat should make up only 15-20% and no more than 25% of total dietary energy. Consuming too much greasy
        food not only makes the weight loss menu ineffective, causing obesity again, but also leads to many health
        problems.</p>

    <p><strong>Choose healthy food: </strong>The healthy foods here are foods high in fiber, vitamins, protein, etc.
        These are "rich in nutrition but poor in energy" foods that are very suitable for overweight and obese people.
        These foods help to fill you up, slow down the digestive process to reduce eating, and prevent postprandial
        hyperglycemia</p>
    <p><strong>Never skip meals: </strong>Thinking "fast weight loss" leads to skipping meals is completely wrong.
        Skipping meals not only increases hunger and cravings more in the afternoon and evening, but also causes the
        body to fall into a state of weakness, fatigue, decreased resistance and possibly digestive diseases</p>
    <div><br></div>
    <hr>
    <div><br></div>

    <h4>Ingredients that should be included in the nutritional menu for overweight and obese people</h4>
    <img src="../assets/images/nutritionalingredients.jpg"
        alt="Despite losing weight, the body still needs 3 important groups of nutrients including: Carbohydrates, fats, and proteins">
    <p><strong>Fats (lipids): </strong>Obesity does not mean that you do not need to consume fat, but you should only
        consume fat at a low level, the lower the weight loss effect.</p>
    <p><strong>Protein: </strong>Protein can make up 15-25% of dietary energy. Replacing fat with protein is also an
        effective method of weight loss. Clinical practice shows that eating a lot of protein helps to gain muscle, burn
        fat, accelerate metabolism, and lose weight faster. However, you also need to know how to choose good protein
        such as eggs, lean white meat, shrimp, etc.</p>
    <p><strong>Carbohydrate: </strong>Also known as Carbs for short. This is a macronutrient that includes 3 main types:
        sugar, starch and fiber. According to US nutrition recommendations, 45-65% of total energy should be supplied
        from carbohydrates. Carbs also have good carbs and bad carbs. Therefore, it is necessary to increase the good
        carbs and limit the bad carbs.</p>
    <ul>
        <li>Bad carbs are found in cakes, soft drinks, white rice, white bread, etc.</li>
        <li>Good carbs are usually complex carbs found in whole grains, fruits, and vegetables.</li>
    </ul>
    <p><strong>Vitamins and minerals: </strong>When implementing a weight loss diet, the diet is usually less than
        1200kcal, so there is often a deficiency of essential vitamins and minerals such as calcium, iron,....
        Therefore, it is very necessary to supplement vitamins and minerals, they are abundant in green vegetables and
        ripe fruits, should eat about 500g / day.</p>
    <p><strong>Salt: </strong>Should be used in moderation, limited to less than 6g/day. If you have high blood
        pressure, you should only take 2-4g / day</p>
    <p>All of the above nutrients must be included in the menu with a limited salary if you want to lose weight
        successfully. Ensuring adequate nutrition from good food sources both ensures health and helps to effectively
        improve weight.</p>
    <div><br></div>
    <hr>
    <div><br></div>

    <h4>Overweight and obesity should and should not eat?</h4>
    <strong>
        <h6>Food to eat</h6>
    </strong>
    <ul>
        <li>Choose foods rich in protein such as: lean white meat (chicken breast, fish), beef, seafood (shrimp, crab),
            soy milk, eggs, skimmed milk, etc.</li>
        <li>
            Prioritize healthy fats: vegetable oils, omega 3-6 fatty acids found in fish, soybean oil, walnuts.
        </li>
        <li>
            It is recommended to use carbohydrates that are high in fiber such as: brown rice, rye bread, oats, whole
            grains, and potatoes.
        </li>
        <li>
            Eat a lot of green vegetables, fruits, about 500g/day.
        </li>
    </ul>
    <div><br></div>
    <strong>
        <h6>Foods to avoid</h6>
    </strong>
    <ul>
        <li>
            Foods high in fat: fatty meat, animal fat, butter, ...
        </li>
        <li>
            Foods high in cholesterol: animal organs (brain, heart, liver, kidney, pig intestine) and some greasy dishes
            such as stir-fries, fried foods, salad dressings, ..
        </li>
        <li>
            Limit energy-rich foods such as: molasses, jam, candy, cakes, chocolate, soft drinks...
        </li>
        <li>
            Limit salt intake: Eat less than 6g/day. Foods containing a lot of salt in addition to table salt include
            fish sauce, soy sauce, canned goods, sausages, sausages, dried seafood such as dried fish, dried shrimp,
            dried squid ..., pickled foods such as melons, tomato, fish sauce, chili sauce…
        </li>
        <li>
            Quit stimulant drinks: beer, wine, coffee, etc.
        </li>
    </ul>

    <div><br></div>
    <hr>
    <div><br></div>

    <h4>The role of increased exercise in weight loss in overweight and obese people</h4>
    <img src="../assets/images/doexercise.jpg"
        alt="Exercise not only helps burn calories but also brings many health benefits.">
    <p>Besides a diet to help cut calories, you should do more exercises to help increase the fat burning process,
        making you lose weight effectively, quickly regain your slim figure. concise.</p>
    <p>Many studies have shown: "For successful weight loss, 80% depends on eating and 20% on consistent exercise".
        However, that does not mean that you only focus on dieting and not exercising. Because exercise helps build
        muscle, muscle mass largely determines metabolism. Thus helping you burn more calories, effective in weight
        loss.</p>
    <p>Another study showed that 40% of people who successfully lost weight four years later remained at a healthy
        weight and by maintaining a routine of 150 minutes of exercise per week.</p>
    <p>Combining both diet and exercise leads to a long-lasting ideal weight and helps us form healthy habits.</p>
    <p>In addition, exercise not only helps with weight loss, but also improves feelings of positivity, creating a good
        mood. In addition, physical activity is associated with many other health benefits such as cardiovascular,
        immune system function, improved sleep. There are 14 health benefits that come from exercise.</p>

    <div><br></div>
    <hr>
    <div><br></div>

    <h4><span id="4">4 principles of effective weight loss training</span></h4>
    <p>Exercise regularly is not necessarily effective, the right way to help you lose weight. When practicing, you need
        to pay attention to the following 4 principles to get the best results:</p>
    <p><strong>Principle 1: Complex Set</strong></p>
    <p>Many people think that where fat is, exercise is there – that is a wrong view. Because the body is a
        interconnected muscle system, it is necessary to have exercises that can affect many parts or do different
        exercises. Don't just focus on one particular article. When performing complex exercises, the muscles are linked
        together to help reduce fat and tone muscles evenly.</p>
    <p><strong>Principle 2: High-intensity interval training</strong></p>
    </p>
    <p>Many studies have shown that short-term high-intensity exercise can burn 1.5-2 times more calories than long-term
        and low-intensity exercise. In addition, after stopping exercise, the body still has the ability to burn 75-125
        more calories.</p>
    <p><strong>Rule 3: Practice after 6pm</strong></p>
    <p>After 6pm is the right time for you to do muscle-toning and fat-loss exercises because at this time body
        temperature tends to decrease, the exercise helps the muscles to move flexibly, and the metabolism takes place
        quickly. faster.</p>
    <p><strong>Rule 4: Walk or run slowly after exercise</strong></p>
    <p>After exercising, you should walk or run slowly to relax your body, regulate your breathing as well as your
        circulatory system. The process of walking or running slowly also helps to burn a significant amount of calories
        without you being too exhausted.</p>

    <div><br></div>
    <hr>
    <div><br></div>

    <h4><span id="che">Exercise regimen for overweight and obese people</span></h4>
    <img src="../assets/images/doexercise1.jpg" alt="">

    <p>Reducing calories in your diet will help you lose weight, but maintaining a healthy weight requires increased
        activity to burn calories. Physical exercise is an important part of long-term weight management for obese
        people.</p>
    <p>First you need to determine your weight loss goals. This goal should be specific and clear. Once you have
        identified a weight loss goal, you have a scientific exercise plan that you need to follow and implement
        seriously.</p>
    <p>Persistence is the key to your success. The weight loss journey of many people long or short depends greatly on
        the attitude and determination to do it. If you are discouraged and give up halfway, you will never be able to
        lose weight. The biggest barrier is yourself, overcoming yourself means you are already halfway there.</p>
    <p>Starting an exercise program can be intimidating if you're obese. So you should practice from little to a lot,
        from light to heavy so that you can gradually get used to physical activity. Some simple exercises you can apply
        such as walking, jogging, cycling,…</p>
    <p>Training time is also very important for weight loss. You need to allocate time appropriately to avoid overworked
        body leading to fatigue. For heavy exercises, you only need to practice for about 30 minutes a day, for light
        exercises, you should practice 45-60 minutes depending on your strength. The amount of calories burned depends
        on the duration and intensity of exercise. For some people who have difficulty moving, it is advisable to
        consult a professional or a fitness trainer.</p>
    <p>The last thing that can't be ignored to help you maintain a fitness routine is to form an active lifestyle. You
        can start this habit with a few simple ways such as doing housework, using the stairs instead of the elevator,
        choosing entertainment with sports instead of watching TV or playing video games, etc.</p>

    <div><br></div>
    <hr>
    <div><br></div>


    </div>