
<link rel="stylesheet" href="../assets/css/boostrap.min.css">
<div class=" mx-auto" style="max-width: 50%;">
    <h1>Prevention</h1>
    <h3 class="mb-3" style="color: #4c6272;">High blood pressure (hypertension)</h3>
    <h4 class="mb-3 lead">High blood pressure can often be prevented or reduced by eating healthily, maintaining a healthy weight, taking regular exercise, drinking alcohol in moderation and not smoking.</h4>

    <hr>

    <h2>Healthy diet</h2>
    <p>Cut down on the amount of salt in your food and eat plenty of fruit and vegetables.</p>
    <p>The Eatwell Guide highlights the different types of food that make up our diet, and shows the proportions we should eat them in to have a well-balanced and healthy diet.</p>
    <p>Salt raises your blood pressure. The more salt you eat, the higher your blood pressure. Aim to eat less than 6g (0.2oz) of salt a day, which is about a teaspoonful</p>
    <p>Eating a low-fat diet that includes lots of fibre, such as wholegrain rice, bread and pasta, and plenty of fruit and vegetables also helps lower blood pressure.</p>
    <p>Aim to eat 5 portions of fruit and vegetables every day.</p>
    <hr>

    <h2>Limit your alcohol intake</h2>
    <p>Regularly drinking too much alcohol can raise your blood pressure over time.</p>
    <p>Staying within the recommended levels is the best way to reduce your risk of developing high blood pressure:</p>
    <ul>
        <li>
            <p>men and women are advised not to regularly drink more than 14 units a week</p>
        </li>
        <li>
            <p>spread your drinking over 3 days or more if you drink as much as 14 units a week</p>
        </li>
    </ul>
    <p>Alcohol is also high in calories, which will make you gain weight and can further increase your blood pressure.</p>
    <hr>

    <h2>Lose weight</h2>
    <p>Being overweight forces your heart to work harder to pump blood around your body, which can raise your blood pressure.</p>
    <p>If you do need to lose some weight, it's worth remembering that just losing a few pounds will make a big difference to your blood pressure and overall health.</p>
    <hr>

    <h2>Get active</h2>
    <p>Being active and taking regular exercise lowers blood pressure by keeping your heart and blood vessels in good condition.</p>
    <p>Regular exercise can also help you lose weight, which will also help lower your blood pressure.</p>
    <p>Adults should do at least 150 minutes (2 hours and 30 minutes) of moderate-intensity aerobic activity, such as cycling or fast walking, every week.</p>
    <p>Physical activity can include anything from sport to walking and gardening.</p>
    <hr>

    <h2>Cut down on caffeine</h2>
    <p>Drinking more than 4 cups of coffee a day may increase your blood pressure.</p>
    <p>If you're a big fan of coffee, tea or other caffeine-rich drinks, such as cola and some energy drinks, consider cutting down.</p>
    <p>It's fine to drink tea and coffee as part of a balanced diet, but it's important that these drinks are not your main or only source of fluid.</p>
    <hr>

    <h2>Stop smoking</h2>
    <p>Smoking does not directly cause high blood pressure, but it puts you at much higher risk of a heart attack and stroke.</p>
    <p>Smoking, like high blood pressure, will cause your arteries to narrow.</p>
    <p>If you smoke and have high blood pressure, your arteries will narrow much more quickly, and your risk of heart or lung disease in the future is dramatically increased.</p>
    <hr>
</div>