<style>
    body {
        box-sizing: border-box;
        margin: 0;
        background-color: #0b2035;
        font-family: "Montserrat", sans-serif;
    }

    section {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
        padding: 75px 10px;
    }

    h1 {
        color: #fff;
    }

    .tab-container {
        width: 100%;
        max-width: 800px;
        min-height: 300px;
        border: 1px solid #fc7904;
        background-color: #fff;
    }

    .tabs {
        display: flex;
        overflow: scroll;
    }

    .tabs button {
        width: 100%;
        padding: 10px 20px;
        border: 1px solid #fc7904;
        cursor: pointer;
        text-transform: uppercase;
        background-color: #fc7904;
        color: #fff;
        opacity: 0.9;
    }

    .tabs button:hover {
        opacity: 1;
    }

    .tabs .non-active {
        opacity: 0.6;
    }

    .tab-content {
        padding: 10px 20px;
    }

    .hidden {
        display: none;
    }

    a {
        color: #fc7904;
        text-decoration: none;
    }

    .author {
        position: absolute;
        left: 35px;
        top: 35px;
        color: #fff;
    }
</style>

<section>
    <h1>Simple Tabs with CSS and Vanilla JavaScript</h1>
    <div class="tab-container">
        <!--  Tab Buttons  -->
        <div class="tabs">
            <button class="tab active">Intro</button>
            <button class="tab non-active">Benefits</button>
            <button class="tab non-active">Disadvantages</button>
            <button class="tab non-active">Conclusion</button>
        </div>
        <!-- Tab Content  -->
        <div class="tab-content">
            <h2>Introduction</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet quam vel lacus lobortis
                fringilla. Vestibulum sit amet velit at risus aliquam facilisis nec a nunc. Praesent tristique laoreet.
            </p>
        </div>
        <div class="tab-content hidden">
            <h2>Benefits</h2>
            <ol>
                <li>Lorem ipsum dolor sit.</li>
                <li>Lorem ipsum dolor sit.</li>
                <li>Lorem ipsum dolor sit.</li>
                <li>Lorem ipsum dolor sit.</li>
                <li>Lorem ipsum dolor sit.</li>
            </ol>
        </div>
        <div class="tab-content hidden">
            <h2>Disadvantages</h2>
            <ol>
                <li>Lorem ipsum dolor sit.</li>
                <li>Lorem ipsum dolor sit.</li>
                <li>Lorem ipsum dolor sit.</li>
                <li>Lorem ipsum dolor sit.</li>
                <li>Lorem ipsum dolor sit.</li>
            </ol>
        </div>
        <div class="tab-content hidden">
            <h2>Conclusion</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porttitor in purus non sodales. Fusce vitae
                elit tristique, elementum velit ut, vestibulum tellus. Lorem ipsum. </p>
        </div>
    </div>
</section>

<div class="author">Codepen by <a href="https://webdevartur.com/about/" target="_blank">Artur Burkalo</a></div>

<script>
    const tabs = document.querySelectorAll(".tab");
    const tabContent = document.querySelectorAll(".tab-content");

    let tabNo = 0;
    let contentNo = 0;

    tabs.forEach((tab) => {
        tab.dataset.id = tabNo;
        tabNo++;
        tab.addEventListener("click", function () {
            tabs.forEach((tab) => {
                tab.classList.remove("active");
                tab.classList.add("non-active");
            });
            this.classList.remove("non-active");
            this.classList.add("active");
            tabContent.forEach((content) => {
                content.classList.add("hidden");
                if (content.dataset.id === tab.dataset.id) {
                    content.classList.remove("hidden");
                }
            });
        });
    });

    tabContent.forEach((content) => {
        content.dataset.id = contentNo;
        contentNo++;
    });
</script>