<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="../assets/css/boostrap.min.css">
<link rel="stylesheet" href="../assets/css/tab.css">

<div class="mt-5 mx-auto" style="max-width: 65%">
    <article class="row tabs content--flow align-items-start">
        <aside class="col-3  sidebar">
          <nav role="tablist" class="tab__navigation">
            <button role="tab" aria-selected="true" class="tab__button" id="1">
              <span class="icon__for--tab">
                <i class="fa-solid fa-calendar-days"></i>
              </span>
              <span class="text__for--tab">Schedule</span>
            </button>
            <button role="tab" aria-selected="false" class="tab__button" id="2">
              <span class="icon__for--tab">
                <i class="fa-solid fa-capsules"></i>
              </span>
              <span class="text__for--tab ">Medicine Dosage</span>
            </button>
            <button role="tab" aria-selected="false" class="tab__button" id="3">
              <span class="icon__for--tab">
                <i class="fa-brands fa-gratipay"></i>
              </span>
              <span class="text__for--tab">Tips</span>
            </button>
            </nav>
        </aside>
        <main class="col content__area">
          <div class="tab__content">
            <div role="tabpanel" aria-labelledby="1">
              <h1 class="title">Schedule</h1>
              <span class="span-tag">01</span>
              <p class="text">
                Just A basic tab navigation example, nothing fancy. And as always, if
                you find some improvements or bugs, please let me know!
              </p>
            </div>
            <div role="tabpanel" aria-labelledby="2" hidden>
              <h1 class="title">Medicine Dosage</h1>
              <span class="span-tag">02</span>
      
              <p class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit,
                excepturi minus! Id praesentium esse atque veniam ullam vero
                accusamus, nesciunt libero dolore dignissimos consequatur quas, qui
                maiores in!
              </p>
            </div>
            <div role="tabpanel" aria-labelledby="3" hidden>
              <h1 class="title">Tips for life</h1>
              <span class="span-tag">03</span>
      
              <p class="text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. In
                aspernatur doloremque iusto incidunt, asperiores dicta amet ad porro
                vero quidem.
              </p>
            </div>
            
            
          </div>
        </main>
      </article>
</div>

<script>
  const buttons = document.querySelectorAll('[role="tab"]');
  const tabPanel = Array.from(document.querySelectorAll('[role="tabpanel"]'));

  function hideTabContent(e) {
    tabPanel.forEach((panels) => {
      panels.hidden = true;
    });
    buttons.forEach((tab) => {
      tab.setAttribute("aria-selected", false);
    });
    e.currentTarget.setAttribute("aria-selected", true);

    const { id } = event.currentTarget;
    const tabPanels = tabPanel.find(
      (tabContent) => tabContent.getAttribute("aria-labelledby") === id
    );
    tabPanels.hidden = false;
  }
  buttons.forEach((button) => button.addEventListener("click", hideTabContent));
</script>
