<link rel="stylesheet" href="./assets/css/thankyou.css">

<div class="thankyou">
  <div class=thankyou-content>
    <div class="wrapper-1" style="height: 410px;">
      <div class="wrapper-2">
        <h1>Thank you !</h1>
        <p>Thanks for choosing our services. </p>
        <p> You will be directed to home page in {{time}} seconds.... </p>
        <a href="http://localhost/techwiz">
          <button class="go-home" style="margin: 30px auto;">
            go home
          </button>
        </a>
      </div>
      <div class="footer-like">
        <p>
          <a href="http://localhost/techwiz/#!/feedback">Click here to resend a feedback</a>
        </p>
      </div>
    </div>
  </div>
</div>



<link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">