*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button[aria-selected="false"] {
    background-color: hsl(207, 100%, 100%);
    color: var(--accent-dark);
    outline: 1px solid #0003;
}

button[aria-selected="true"] {
    background: var(--accent-blue);
    color: var(--text-clr);
    font-weight: 600;
}

button[aria-selected="false"]:where(:hover, :focus-visible) {
    outline: 2px solid var(--accent-blue);
    outline-offset: -2px;
}

button[aria-selected="false"]:where(:hover, :focus-visible) .icon__for--tab {
    color: var(--accent-blue);
}

button[aria-selected="false"]:where(:hover, :focus-visible) .text__for--tab {
    color: var(--text-clr);
}

button[aria-selected="false"]:active {
    background-color: hsl(207, 100%, 90%);
    transform: scale(0.95);
}

button[aria-selected="true"] .icon__for--tab {
    color: #fff;
}

.tab__navigation:is(:hover, :focus-visible)
    button[aria-selected="false"]:not(:hover) {
    opacity: 0.8;
    background-color: hsl(207, 10%, 91%);
}

:root {
    --accent-blue: hsl(207, 74%, 61%);
    --accent-dark: hsl(207, 10%, 45%);
    --text-clr: hsl(210, 10%, 30%);

    --space-025: 0.25rem;
    --space-05: 0.5rem;
    --space-075: 0.75rem;
    --space-1: 1rem;
    --space-125: 1.25rem;
    --space-15: 1.5rem;
    --space-2: 2rem;

    --width-max: 50rem;
    --width-min: 22.5rem;
    --fullSize: 100%;
    --fullHeight: 100vh;
    --flex-flow: 38rem;
    --padding--flow: calc(var(--fullSize) - var(--space-2));
}

body {
    display: flex;
    /* min-block-size: 100vh; */
    font-size: 16px;
    font-family: sans-serif;
    background-color: rgb(207, 212, 216);
}

.tabs {
    /* max-inline-size: min(var(--padding--flow), var(--width-max)); */
    height: auto;
    min-inline-size: var(--width-min);
    margin: auto;
    /* border-radius: 0.35rem;
    gap: var(--space-1) 0;
    background: hsl(207, 10%, 96%);
    box-shadow: 0 0.5em 0.35em #0003, 0 0.8em 1.4em #0003; */
}

.content--flow {
    --sidebar-width: 13rem;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.sidebar {
    padding: var(--space-05);
    flex: 1 1 var(--sidebar-width);
}

.tab__navigation {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: var(--space-05);
    height: 100vh;
    /* height: var(--fullSize); */
}

.tab__button {
    display: flex;
    align-items: center;
    height: 3rem;
    flex: auto;
    gap: 0.55rem;
    border: none;
    outline: none;
    width:100%;
    max-height: 50px;
}

.tab__button > * {
    padding: var(--space-05);
}

.icon__for--tab {
    display: inline-flex;
    height: 2rem;
    margin-inline: var(-space-05);
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
}

.icon__for--tab > i.fas {
    margin: 0;
    justify-content: flex-start;
    display: inline-flex;
    font-size: 1.125rem;
}

.text__for--tab {
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    line-height: 1;
    margin-inline: auto;
    font-size: 1rem;
}

@media (max-width: 639px) {
    .sidebar {
        padding: unset;
    }
    .tab__button {
        flex-direction: column;
        border-radius: 0;
        min-height: 3.25rem;
        gap: 0;
    }

    .tab__button > * + * {
        min-height: 1rem;
    }
}

@media (max-width: 560px) {
    .text__for--tab {
        display: none;
    }
    .icon__for--tab {
        margin: auto;
    }
}

.content__area {
    display: flex;
    flex-grow: 999;
    min-height: 20rem;
    justify-content: start;
    flex-basis: calc((var(--flex-flow) - var(--fullSize)) * 999);
    position: relative;
}

.tab__content {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-inline: auto;
    padding: var(--space-05);
}

.span-tag {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 1;
    color: var(--accent-dark);
    opacity: 0.2;
    font-size: clamp(4rem, (-1.97rem + 20.78vw), 7rem);
    font-weight: 900;
}

.title {
    line-height: 1.6;
    padding-block-start: var(--space-1);
    color: var(--accent-blue);
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
}

.text {
    max-width: 45ch;
    text-align: center;
    margin-inline: var(--space-1);
    color: var(--text-clr);
    font-size: 1.125rem;
}
